{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

    <title>Login</title>
</head>
<body>
    <div id="login-panel">
        <h1 class="text-contrast text-center">Login</h1>
        <form action="/auth/login" method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Benutzername" class="underlined-input-contrast medium-font" />
            <input type="password" name="password" placeholder="Passwort" class="underlined-input-contrast medium-font" />

            {% if redirect %}
                <input type="hidden" name="redirect" value="{{ redirect }}">
            {% endif %}

            {% if invalid_login %}
                <p class="text-center text-error">Benutzername oder Passwort ungültig</p>
            {% endif %}

            <button type="submit" class="button button-contrast">Login</button>
        </form>
    </div>
</body>
</html>