#button-download {
    display: inline-block;
    float: right;
    margin-top: 8vh;
}

#button-edit {
    display: inline-block;
    float:right;
    margin-top: 8vh;
    margin-left: 1em;
    text-decoration: none;
}

#button-validate {
    display: inline-block;
    float:right;
    margin-top: 8vh;
    margin-left: 1em;
}

#file-title {
    margin-left: 8em;
    margin-right: 8em;
}

#info-panel {
    background-color: #376bc4;
    border: 1px solid #376bc4;
    border-radius: 4px;
    width: 30vw;
    color: #ffffff;
    padding: 0 1em;
    margin-top: 11.5vh;
    display: inline-block;
}

#info-panel ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5em;
}

#document-section {
    float: right;
    width: 65vw;
    height: 100vh;
    margin-top: 2.5vh;
}

.document-section-content {
    position: relative;
    width: 100%;
    height: 100%;
}

#document-section h2 {
    text-align: center;
}

#button-create-doc {
    width: 20vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vh;
}

.document-info-card {
    border: 2px solid #376bc4;
    border-radius: 4px;
    background-color: #376bc4;
    color: #fff;
    padding: 0.5em 1em;
    margin-bottom: 1em;
}

.document-info-card h3 {
    display: inline;
}

.document-info-details {
    display: none;
}

.document-info-card-details-button {
    float: right;
    text-decoration: none;
    color: #fff;
    margin-left: 1em;
}

.extracted-info-section {
    margin-bottom: 2em;
}

.extracted-info-section li {
    margin-top: 1em;
}

.extracted-info-keyword {
    font-style: italic;
    font-weight: bold;
}

.infoPopup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30vh;
    left: 30vw;
    background-color: #ffffff;
    border: 3px solid #133570;
    box-shadow: 4px 2px 2px #000000;
    border-radius: 4px;
    width: 40vw;
    height: 45vh;
}

.infoPopupBody {
    padding-left: 1em;
    padding-right: 1em;
    height: 37vh;
    overflow: scroll;
}

.infoPopupCloseButton {
    position: absolute;
    bottom: 5px;
    left: 21vw;
}

.infoPopupCloseButtonNoSave {
    position: absolute;
    bottom: 5px;
    left: 15vw;
}

.infoPopupSaveButton {
    position: absolute;
    bottom: 5px;
    left: 9.5vw;
}

.validationPopup {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 10vh;
    left: 22.5vw;
    background-color: #ffffff;
    border: 3px solid #133570;
    box-shadow: 4px 2px 2px #000000;
    border-radius: 4px;
    width: 55vw;
    height: 80vh;
}

.validationPopupBody {
    padding-left: 1em;
    padding-right: 1em;
    height: 73.5vh;
    overflow: scroll;
}

#validationResultsBody h1 {
    text-align: center;
}

.validationPopupCloseButton {
    position: absolute;
    bottom: 5px;
    left: 29.5vw;
}

.validationPopupCloseButtonNoExecute {
    position: absolute;
    bottom: 5px;
    left: 22.5vw;
}

.validationPopupExecuteButton {
    position: absolute;
    bottom: 5px;
    left: 15.5vw;
}

.buttonAsLink {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

#infoDeleteButton {
    position: absolute;
    top: 1em;
    right: 1em;
}

#addInfoButton {
    position: relative;
    top: 2.5em;
    left: 50em;
}

#keySelect {
    margin-bottom: 3em;
}

#addInfoButtonsWithSave {
    display: none;
}

#addInfoButtonsNoSave {
    display: none;
}

#validationButtonsWithExecute {
    display: none;
}

#validationButtonsNoExecute {
    display: none;
}

.validationSuccess {
    color: #22b81a;
}

.validationError {
    color: #d9112f;
}
