button {
    display: inline !important;
}

input {
    display: inline !important;
    margin-left: 30vw !important;
}

#main-file-table {
    margin: 2em auto 0;
}

#button-create-collection {
    display: inline-block;
    text-decoration: none;
    margin-left: 75vw;
    margin-top: 0.5em !important;
}

h2 {
    width: 70%;
}

.text-center {
    text-align: center;
    margin: 1em auto;
}

.search-result-title {
    font-size: 2.5em;
    width: 70%;
}
