form {
    margin-top: 10vh;
}

input {
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 2em;
}

textarea {
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 2em;
}

button {
    margin: 0 auto;
}

#button-delete {
    display: inline-block;
    float:right;
    margin-top: 8vh;
    margin-left: 1em;
    padding: 0 !important;
}

#button-delete form {
    margin: 0;
}