<div id="page-header">
    <h1><a href="/" id="header-title" class="no-text-decoration text-contrast">NoDE</a></h1>
    <a href="/auth/logout" id="header-logout-button" class="button button-contrast">{{ user.username }} ausloggen</a>
</div>