<h2>Information hinzufügen</h2>

{% if selectedKey == None %}
    <input id="addInfoCanSaveInput" type="hidden" name="canSave" value="false">
    <p>Es können keine neuen Informationen hinzugefügt werden, da bereits für jeden Informationstyp ein Wert vorliegt. Sie können die bestehenden Werte editieren, indem Sie auf den Knopf "Details" neben der jeweiligen Information klicken.</p>
{% else %}
    <input id="addInfoCanSaveInput" type="hidden" name="canSave" value="true">
    <select id="keySelect" onchange="onNewInfoSelectedKeyChanged({{ keyLabelMap }}, {{ keyInputMap }})">
        {% for key in keyOptions.keys %}
            {% if key == selectedKey %}
                <option value="{{ key }}" selected>{{ keyOptions|get_item:key }}</option>
            {% else %}
                <option value="{{ key }}">{{ keyOptions|get_item:key }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <br>

    <label id="newInfoLabel" for="newValue">{{ keyLabelMap|get_item:selectedKey }}:
        {{ keyInputMap|get_item:selectedKey|safe }}
    </label>

    <input id="addInfoDocumentIdInput" type="hidden" name="documentId" value="{{ documentId }}" />
{% endif %}