{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}" />

    {% if collectionId >= 0 %}
        <title>Dokumentsammlung editieren</title>
    {% else %}
        <title>Neue Dokumentsammlung erstellen</title>
    {% endif %}
</head>
<body>
    {% include 'header.html' %}

    {% if collection and collectionId >= 0 %}
        <h1 class="text-center">Dokumentsammlung '{{ collection.name }}' editieren</h1>
        <a href="/documents/collection-details?collection={{ collectionId }}" id="button-back" class="button">Zurück zu den Details</a>
        <div id="button-delete">
            <form action="/documents/collection-delete" method="post">
                <input type="hidden" name="collectionId" value="{{ collection.id }}" />
                <button type="submit" class="button">Löschen</button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <h1 class="text-center">Neue Dokumentsammlung erstellen</h1>
        <a href="/" id="button-back" class="button">Zurück zur Übersicht</a>
    {% endif %}

    <form action="/documents/collection-edit" method="post">
        {% csrf_token %}

        <input type="text" class="underlined-input" name="name" placeholder="Name" maxlength="100"
               value="{% if collection %}{{ collection.name }}{% else %}{% endif %}" />
        <textarea name="description" placeholder="Beschreibung" class="underlined-input" maxlength="512">{% if collection %}{{ collection.description }}{% else %}{% endif %}</textarea>

        <input type="hidden" name="id" value="{{ collectionId }}" />

        {% if errors %}
            <ul class="no-list-style">
                {% for error in errors %}
                    <li class="text-center text-error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}

        <button type="submit" class="button">{% if collectionId >= 0 %}Speichern{% else %}Erstellen{% endif %}</button>
    </form>
</body>
</html>