{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}" />

    <script type="text/javascript" src="{% static 'js/jquery-3.7.0.min.js' %}"></script>

    <title>{{ collection.name }}</title>
</head>
<body>
    <script>
        let remoteEinverstandenIndex = 0;
        let anmeldendeGFIndex = 0;

        let curGesellschafterList = [];
        let curCEOList = [];

        function handleDetailsButtonClick(id)
        {
            const elem = document.getElementById(`details-doc${id}`);
            const button = document.getElementById(`details-button${id}`);
            const detailsHidden = elem.style.display !== "block";

            if (detailsHidden)
            {
                elem.style.display = 'block';
                button.innerText = "Details verbergen";
            }
            else
            {
                elem.style.display = 'none';
                button.innerText = "Details anzeigen";
            }
        }

        function highlightSentence(id, highlight)
        {
            elem = document.getElementById(id);

            if (elem)
            {
                elem.style.color = highlight ? '#9c0803' : '#ffffff';
            }
        }

        function highlightInfos(infos, highlight)
        {
            infos.forEach((info) => {
               highlightSentence(`info${info}`, highlight);
            });
        }

        function showExtractedInfoPopup(show, infoId, collectionId)
        {
            elem = document.getElementById("extractedInfoPopup");
            if (!show)
            {
                $('body').css('overflow','auto');
                elem.style.display = 'none';
                return;
            }
            $('body').css('overflow','hidden');
            fetch(`/documents/info-details-ajax?infoId=${infoId}&collectionId=${collectionId}`).then((res) => {
                return res.text();
            }).then((html) => {
                bodyElem = document.getElementById("extractedInfoPopupBody");
                bodyElem.innerHTML = html;
                elem.style.display = 'block';
            });
        }

        function saveExtractedInfoValue()
        {
            const infoIdInput = document.getElementById("infoIdInput");
            const infoId = infoIdInput.value;

            const input = document.getElementById("correctedValue");

            let correctedValue = "";

            switch (input.type)
            {
                case "text":
                    correctedValue = input.value;
                    break;
                case "checkbox":
                    correctedValue = input.checked;
                    break;
                case "select-one":
                    correctedValue = input.value;
                    break;
                default:
                    break;
            }

            var csrfToken = '{{ csrf_token }}';

            fetch('/documents/update-info-value', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ "correctedValue": correctedValue, "infoId": infoId })
            }).then(() => {
                location.reload();
            });
        }

        function showAddInfoPopup(show, documentId)
        {
            elem = document.getElementById("addInfoPopup");
            if (!show)
            {
                $('body').css('overflow','auto');
                elem.style.display = 'none';
                return;
            }

            $('body').css('overflow','hidden');
            fetch(`/documents/add-info-popup-ajax?documentId=${documentId}`).then((res) => {
                return res.text();
            }).then((html) => {
                bodyElem = document.getElementById("addInfoPopupBody");
                bodyElem.innerHTML = html;
                elem.style.display = 'block';

                const addInfoButtonsWithSave = document.getElementById("addInfoButtonsWithSave");
                const addInfoButtonsNoSave = document.getElementById("addInfoButtonsNoSave");

                canSaveInput = document.getElementById("addInfoCanSaveInput");
                const canSave = canSaveInput.value === "true";

                if (canSave)
                {
                    addInfoButtonsWithSave.style.display = "block";
                    addInfoButtonsNoSave.style.display = "none";
                }
                else
                {
                    addInfoButtonsWithSave.style.display = "none";
                    addInfoButtonsNoSave.style.display = "block";
                }
            });
        }

        function saveNewInfo()
        {
            var csrfToken = '{{ csrf_token }}';

            const input = document.getElementById("newValue");
            let newValue = "";

            const keyInput = document.getElementById("keySelect");
            let key = keyInput.value;

            const documentIdInput = document.getElementById("addInfoDocumentIdInput");
            let documentId = documentIdInput.value;

            switch (input.type)
            {
                case "text":
                    newValue = input.value;
                    break;
                case "checkbox":
                    newValue = input.checked;
                    break;
                case "select-one":
                    newValue = input.value;
                    break;
                default:
                    break;
            }

            fetch('/documents/add-info', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({
                    "key": key,
                    "value": newValue,
                    "documentId": documentId,
                })
            }).then(() => {
                location.reload();
            });
        }

        function onNewInfoSelectedKeyChanged(keyLabelMap, keyInputMap)
        {
            const elem = document.getElementById("keySelect");
            const newKey = elem.value;

            const labelElem = document.getElementById("newInfoLabel");
            labelElem.innerHTML = `${keyLabelMap[newKey]}: ${keyInputMap[newKey]}`
        }

        function showValidationPopup(show, showResults=false)
        {
            elem = document.getElementById("validationPopup");
            if (!show)
            {
                $('body').css('overflow','auto');
                elem.style.display = 'none';
                return;
            }

            $('body').css('overflow','hidden');

            elem.style.display = 'block';
            document.getElementById("validationPopupBody").style.display = showResults ? 'none' : 'block';
            document.getElementById("validationResultsBody").style.display = showResults ? 'block' : 'none';

            const buttonsWithExec = document.getElementById("validationButtonsWithExecute");
            const buttonsNoExec = document.getElementById("validationButtonsNoExecute");

            const canExec = !showResults;

            if (canExec)
            {
                buttonsWithExec.style.display = "block";
                buttonsNoExec.style.display = "none";
            }
            else
            {
                buttonsWithExec.style.display = "none";
                buttonsNoExec.style.display = "block";
            }
        }

        function updateCEOName(input, index)
        {
            curCEOList[index] = input.value;
        }

        function addEntryToCEOList()
        {
            const index = curCEOList.length;
            curCEOList.push("");

            $("#CEOListe").append($("<li>").html(
                'Name: <input type="text" name="CEOName' + index + '" onchange="updateCEOName(this, ' + index + ')" /> Vertretungsregelung:\n' +
                '<select name="CEOvertretungsregelung' + index + '">\n' +
                '<option value="alleinvertretung">Alleinvertretung</option>\n' +
                '<option value="gesamtvertretung">Gesamtvertretung</option>\n' +
                '<option value="echtegesamtvertretung">Echte Gesamtvertretung</option>\n' +
                '</select>\n' +
                'Befreiung von § 181 BGB: <input type="checkbox" name="CEO181waiver' + index + '" />'
            ));
        }

        function updateGesellschafterName(input, index)
        {
            curGesellschafterList[index] = input.value;
        }

        function addEntryToGesellschafterList(name=null)
        {
            const index = curGesellschafterList.length;
            curGesellschafterList.push("");

            $("#gesellschafterListe").append($("<li>").html(
                '<li>Name: <input type="text" name="gesellschafterName' + index + '" onchange="updateGesellschafterName(this, ' + index +')" value="' + (name || "") + '"/> Stimmrechte: <input type="number" name="stimmrechte' + index + '"/></li>'
            ));
        }

        function addEntryToRemoteEinverstandenList()
        {
            $("#remoteEinverstandenList").append($("<li>").html(
                '<li>\n' +
                '<select name="remoteEinverstanden' + remoteEinverstandenIndex + '">\n' +
                curGesellschafterList.map(g => `<option value='${g}'>${g}</option>`).join('\n') +
                '</select>\n' +
                '</li>'
            ));
            remoteEinverstandenIndex += 1;
        }

        function addEntryToAnmeldendeGFList()
        {
            $("#anmeldendeGFListe").append($("<li>").html(
                '<li>\n' +
                '<select name="anmeldendeGF' + anmeldendeGFIndex + '">\n' +
                curCEOList.map(c => `<option value='${c}'>${c}</option>`).join('\n') +
                '</select>\n' +
                '</li>'
            ));

            anmeldendeGFIndex += 1;
        }

        function updateNewCEOName(name)
        {
            $("#newCEONameInput").val(name);
        }

        function updateNewCEOWaiver181(value)
        {
            $("#newCEO181Waiver").prop("checked", value === "True");
        }

        function updateNewCEORepresentationRule(value)
        {
            $("#newCEORepresentationRule").val(value);
        }

        function startValidation()
        {
            $("#validationForm").append(`<input type='hidden' name='gesellschafterCount' value='${curGesellschafterList.length}' />`);
            $("#validationForm").append(`<input type='hidden' name='CEOCount' value='${curCEOList.length}' />`);
            $("#validationForm").append(`<input type='hidden' name='remoteEinverstandenCount' value='${remoteEinverstandenIndex}' />`);
            $("#validationForm").append(`<input type='hidden' name='anmeldendeGFCount' value='${anmeldendeGFIndex}' />`);
            $("#validationForm").submit();
        }
    </script>

    {% include 'header.html' %}

    {% if validityCheckDone %}
        <script>
            $(document).ready(() => {
                showValidationPopup(true, true);
            });
        </script>
    {% endif %}

    <div id="extractedInfoPopup" class="infoPopup">
        <div id="extractedInfoPopupBody" class="infoPopupBody">
        </div>
        <a class="button text-center infoPopupSaveButton" onclick="saveExtractedInfoValue()">Speichern</a>
        <a class="button text-center infoPopupCloseButton" onclick="showExtractedInfoPopup(false, null, null)">Abbrechen</a>
    </div>


    <div id="addInfoPopup" class="infoPopup">
        <div id="addInfoPopupBody" class="infoPopupBody">
        </div>
        <div id="addInfoButtonsWithSave">
            <a id="addInfoSaveButton" class="button text-center infoPopupSaveButton" onclick="saveNewInfo()">Speichern</a>
            <a class="button text-center infoPopupCloseButton" onclick="showAddInfoPopup(false, null)">Abbrechen</a>
        </div>
        <div id="addInfoButtonsNoSave">
            <a class="button text-center infoPopupCloseButtonNoSave" onclick="showAddInfoPopup(false, null)">Abbrechen</a>
        </div>
    </div>


    <div id="validationPopup" class="validationPopup">
        <div id="validationPopupBody" class="validationPopupBody">
            {% for info in extractedDocumentInfos %}
                {% if info.info.key == "gesellschafterList" %}
                    <script>
                        $(document).ready(() => {
                            addEntryToGesellschafterList("{{ info.info.value }}");
                        });
                    </script>
                {% elif info.info.key == "newGFName" %}
                    <script>
                        $(document).ready(() => {
                            updateNewCEOName("{{ info.info.value }}");
                        });
                    </script>
                {% elif info.info.key == "newGFWaiver181BGB" %}
                    <script>
                        $(document).ready(() => {
                           updateNewCEOWaiver181("{{ info.info.value }}");
                        });
                    </script>
                {% elif info.info.key == "newGFRepresentationType" %}
                    <script>
                        $(document).ready(() => {
                           updateNewCEORepresentationRule("{{ info.info.value }}");
                        });
                    </script>
                {% endif %}
            {% endfor %}

            <h1>Gültigkeit der Geschäftsführeranmeldung prüfen</h1>
            <form id="validationForm" action="/documents/collection-check-validity" method="GET">
                <div class="small-bottom-margin">
                    <label>Liste der Gesellschafter:</label>
                    <ul id="gesellschafterListe">
                    </ul>
                    <a onclick="addEntryToGesellschafterList()" class="mini-button">Hinzufügen</a>
                </div>
                <div class="small-bottom-margin">
                    <label>Liste der Geschäftsführer:</label>
                    <ul id="CEOListe">
                    </ul>
                    <a onclick="addEntryToCEOList()" class="mini-button">Hinzufügen</a>
                </div>
                <div class="small-bottom-margin">
                    <label for="vertretungsregelungSelect">Standard-Vertretungsregelung:</label>
                    <select id="vertretungsregelungSelect" name="vertretungsregelung">
                        <option value="alleinvertretung">Alleinvertretung</option>
                        <option value="gesamtvertretung">Gesamtvertretung</option>
                        <option value="echtegesamtvertretung">Echte Gesamtvertretung</option>
                    </select>
                </div>
                <div class="small-bottom-margin">
                    <label for="mehrheitsanforderungInput">Mehrheitsanforderung (%):</label>
                    <input id="mehrheitsanforderungInput" type="number" min="0" max="100" name="mehrheitsanforderung" />
                </div>
                <div class="small-bottom-margin">
                    <label>Neuer Geschäftsführer:</label>
                    <br>
                    Name: <input id="newCEONameInput" type="text" name="newCEOName" />
                    Vertretungsregelung:
                    <select id="newCEORepresentationRule" name="newCEOVertretungsregelung">
                        <option value="alleinvertretung">Alleinvertretung</option>
                        <option value="gesamtvertretung">Gesamtvertretung</option>
                        <option value="echtegesamtvertretung">Echte Gesamtvertretung</option>
                    </select>
                    Befreiung von § 181 BGB: <input id="newCEO181Waiver" type="checkbox" name="newCEO181Waiver" />
                </div>
                <div class="small-bottom-margin">
                    <label for="versammlungStattgefundenInput">Versammlung hat stattgefunden</label>
                    <input id="versammlungStattgefundenInput" type="checkbox" name="versammlungStattgefunden" />
                </div>
                <div class="small-bottom-margin">
                    <label>Form der Versammlung:</label>
                    <select name="versammlungsform">
                        <option value="praesent">Präsent</option>
                        <option value="fernmuendlich">Fernmündlich</option>
                    </select>
                </div>
                <div class="small-bottom-margin">
                    <label>Einverstanden mit fernmündlicher Versammlung:</label>
                    <ul id="remoteEinverstandenList">
                    </ul>
                    <a onclick="addEntryToRemoteEinverstandenList()" class="mini-button">Hinzufügen</a>
                </div>
                <div class="small-bottom-margin">
                    <label for="jaAnteilInput">Abstimmungsergebnis (Ja-Anteil in %):</label>
                    <input id="jaAnteilInput" type="number" min="0" max="100" name="jaAnteil" />
                </div>
                <div class="small-bottom-margin">
                    <label for="versicherungUnterzeichnetInput">Neuer Geschäftsführer hat Versicherung unterzeichnet</label>
                    <input id="versicherungUnterzeichnetInput" type="checkbox" name="versicherungUnterzeichnet" />
                </div>
                <div class="small-bottom-margin">
                    <label>Form der Urkunde:</label>
                    <select name="urkundeForm">
                        <option value="urschrift">Urschrift</option>
                        <option value="beglaubigteabschrift">Beglaubigte Abschrift</option>
                    </select>
                </div>
                <div>
                    <label>Anmeldende Geschäftsführer:</label>
                    <ul id="anmeldendeGFListe">
                    </ul>
                    <a onclick="addEntryToAnmeldendeGFList()" class="mini-button">Hinzufügen</a>
                </div>
                <input type="hidden" name="collection" value="{{ collection.id }}" />
            </form>
        </div>
        <div id="validationResultsBody">
            {% if validityCheckDone %}
                <h1>Ergebnis der Prüfung</h1>
                <ul>
                    <li class="{{ validityCheckResults|get_item:"registrationValid" }}">Anmeldung gültig?</li>
                    <ul>
                        <li class="{{ validityCheckResults|get_item:"resolutionValid" }}">Beschluss gültig?</li>
                        <ul>
                            <li class="{{ validityCheckResults|get_item:"resolutionFormallyValid" }}">Beschluss formell gültig?</li>
                            <ul>
                                <li class="{{ validityCheckResults|get_item:"resolutionValidWithMeeting" }}">Beschluss mit Versammlung gültig?</li>
                                <li class="{{ validityCheckResults|get_item:"resolutionValidWithoutMeeting" }}">Beschluss ohne Versammlung gültig?</li>
                            </ul>
                            <li class="{{ validityCheckResults|get_item:"resolutionWithMajority" }}">Beschluss mit Mehrheit ergangen?</li>
                            <ul>
                                <li class="{{ validityCheckResults|get_item:"resolutionWritingUnanimous" }}">Beschluss schriftlich einstimmig?</li>
                                <li class="{{ validityCheckResults|get_item:"resolutionVotingWithMajority" }}">Beschluss in Abstimmung mit Mehrheit ergangen?</li>
                            </ul>
                        </ul>
                        <li class="{{ validityCheckResults|get_item:"deedValid" }}">Urkunde gültig?</li>
                        <li class="{{ validityCheckResults|get_item:"reassuranceValid" }}">Versicherung gültig?</li>
                        <li class="{{ validityCheckResults|get_item:"rightOfRepresentation" }}">Vertretungsberechtigung gegeben?</li>
                        <ul>
                            <li class="{{ validityCheckResults|get_item:"allCEOsPresent" }}">Alle Geschäftsführer anwesend?</li>
                            <li class="{{ validityCheckResults|get_item:"CEOwithConcreteSoleRepresentation" }}">Geschäftsführer mit konkreter Alleinvertretung?</li>
                            <li class="{{ validityCheckResults|get_item:"CEOwithGeneralSoleRepresentation" }}">Geschäftsführer mit allgemeiner Alleinvertretung?</li>
                            <li class="{{ validityCheckResults|get_item:"CEOwithConcreteOverallRepresentation" }}">Geschäftsführer mit konkreter echter Gesamtvertretung?</li>
                            <li class="{{ validityCheckResults|get_item:"CEOwithGeneralOverallRepresentation" }}">Geschäftsführer mit allgemeiner echter Gesamtvertretung?</li>
                        </ul>
                    </ul>
                </ul>
            {% else %}
                <p>Es ist ein Fehler aufgetreten.</p>
            {% endif %}
        </div>
        <div id="validationButtonsWithExecute">
            <a id="validationExecuteButton" class="button text-center validationPopupExecuteButton" onclick="startValidation()">Prüfung starten</a>
            <a class="button text-center validationPopupCloseButton" onclick="showValidationPopup(false)">Abbrechen</a>
        </div>
        <div id="validationButtonsNoExecute">
            <a class="button text-center validationPopupCloseButtonNoExecute" onclick="showValidationPopup(false)">Schließen</a>
        </div>
    </div>



    <h1 id="file-title" class="text-center">'{{ collection.name }}'</h1>

    <a href="/" id="button-back" class="button">Zurück zur Übersicht</a>
    <a href="/documents/collection-edit?collection={{ collection.id }}" id="button-edit" class="button">Bearbeiten</a>
    <a onclick="showValidationPopup(true)" id="button-validate" class="button">Gültigkeit prüfen</a>

    <span class="block"></span>

    <div id="info-panel">
        <h2>Zusammenfassung</h2>

        <ul>
            <li>Erstellt: {{ collection.created_at }}</li>
            <li>Zuletzt geändert: {{ collection.modified_at }}</li>
            <li>Beschreibung: {{ collection.description }}</li>
        </ul>
    </div>

    <div id="document-section">
        <div class="document-section-content">
            {% if collection.document_set.all|length == 0 %}
                <h2>Mit dieser Dokumentsammlung sind keine Dokumente verknüpft</h2>
            {% else %}
                <h2>Verknüpfte Dokumente</h2>
                {% for document in collection.document_set.all %}
                    <div class="document-info-card">
                        <h3>{{ document.name }}{% if document.fileType|length > 0 %} ({{ document.fileType }}){% endif %}</h3>
                        <a
                                class="document-info-card-details-button"
                                id="details-button{{ document.id }}"
                                onclick="handleDetailsButtonClick({{ document.id }})"
                        >
                            Details anzeigen
                        </a>
                        <a
                                class="document-info-card-details-button"
                                href="/documents/download?document={{ document.id }}"
                        >
                            Herunterladen
                        </a>
                        <a
                                class="document-info-card-details-button"
                                href="/documents/document-edit?collection={{ collection.id }}&document={{ document.id }}"
                        >
                            Editieren
                        </a>
                        <div class="document-info-details" id="details-doc{{ document.id }}">
                            <div class="extracted-info-section">
                                <a id="addInfoButton" class="underlined-text" onclick="showAddInfoPopup(true, {{ document.id }})">Hinzufügen</a>
                                {% if document.id in docsWithInfos %}
                                    <h4>Folgende Informationen konnten extrahiert werden:</h4>
                                    <ul>
                                        {% for info in extractedDocumentInfos %}
                                            {% if info.doc == document.id %}
                                                <li id="info{{ info.info.id }}">
                                                    {{ info.text|safe }} <a onclick="showExtractedInfoPopup(true, {{ info.info.id }}, {{ collection.id }})" class="underlined-text">Details</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <h4>Aus diesem Dokument konnten keine Informationen gewonnen werden.</h4>
                                {% endif %}
                            </div>
                            <p class="">
                                {% for key, sentences in orderedSentences.items %}
                                    {% if key == document.id %}
                                        {% for sentence in sentences %}
                                            <span
                                                    id="sen{{ sentence.id }}"
                                                    onmouseover="highlightInfos({{ sentenceInfoMap|get_item:sentence.id }}, true)"
                                                    onmouseout="highlightInfos({{ sentenceInfoMap|get_item:sentence.id }}, false)"
                                            >
                                                {{ sentence.sentence }}
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <a href="/documents/document-edit?collection={{ collection.id }}" id="button-create-doc" class="button">Dokument hinzufügen</a>
        </div>
    </div>
</body>
</html>