{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit.css' %}" />

    {% if documentId >= 0 %}
        <title>Dokument editieren</title>
    {% else %}
        <title>Neues Dokument hinzufügen</title>
    {% endif %}
</head>
<body>
    {% include 'header.html' %}

    {% if document and documentId >= 0 %}
        <h1 class="text-center">Dokument '{{ document.name }}' editieren</h1>
        <a href="/documents/collection-details?collection={{ collectionId }}" id="button-back" class="button">Zurück zur Dokumentsammlung</a>
        <div id="button-delete">
            <form action="/documents/document-delete" method="post">
                <input type="hidden" name="documentId" value="{{ document.id }}" />
                <button type="submit" class="button">Löschen</button>
                {% csrf_token %}
            </form>
        </div>
    {% else %}
        <h1 class="text-center">Neues Dokument hinzufügen</h1>
        <a href="/documents/collection-details?collection={{ collectionId }}" id="button-back" class="button">Zurück zur Dokumentsammlung</a>
    {% endif %}

    <form action="/documents/document-edit" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" class="underlined-input" name="name" placeholder="Name" maxlength="100"
               value="{% if document %}{{ document.name }}{% else %}{% endif %}" />
        <input type="file" name="data" />
        {% if document and documentId >= 0 %}
            <textarea
                    name="plainText"
                    placeholder="Textinhalt"
                    class="underlined-input"
            >{% if document %}{{ document.plainText }}{% else %}{% endif %}</textarea>
        {% endif %}

        <input type="hidden" name="id" value="{{ documentId }}" />
        <input type="hidden" name="collectionId" value="{{ collectionId }}" />

        {% if errors %}
            <ul class="no-list-style">
                {% for error in errors %}
                    <li class="text-center text-error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}

        <button type="submit" class="button">{% if documentId >= 0 %}Speichern{% else %}Hinzufügen{% endif %}</button>
    </form>
</body>
</html>