<h2>Details</h2>

<form action="/documents/delete-info" method="post">
    {% csrf_token %}

    <input type="hidden" name="infoId" value="{{ info.id }}" />
    <input type="hidden" name="collectionId" value="{{ collectionId }}" />
    <button type="submit" id="infoDeleteButton" class="buttonAsLink">Löschen</button>
</form>

<p>
    {% if info.sourceSentence == None %}
        Folgende Information wurde durch einen Nutzer hinzugefügt:
    {% else %}
        Folgende Information wurde aus dem Dokumentinhalt extrahiert:
    {% endif %}
    <span class="bold-text">{{ renderData.rawText|safe }} (Score*: {{ info.confidence }})</span>
</p>

{% if info.conditionSentence != None %}
    <p><span class="bold-text">Folgende Bedingung muss erfüllt sein:</span> {{ info.conditionSentence.sentence }}</p>
{% endif %}

{% if info.sourceSentence != None %}
    <p>Quelle: "{{ info.sourceSentence.sentence }}"</p>
{% endif %}

<label for="correctedValue">{{ correctionLabelText }}:
    {{ correctionInput|safe }}
</label>
<input id="infoIdInput" type="hidden" value="{{ info.id }}" />

{% if info.extractedinfoconflictingmaxvalue_set.all|length > 0 %}
    <p>Es gibt andere Werte, die mit dem erkannten Wert in Konflikt stehen:</p>
    <ul>
        {% for max in info.extractedinfoconflictingmaxvalue_set.all %}
            <li>{{ valueMap|get_item:max.value }} (Quelle: "{{ max.sourceSentence.sentence }}")</li>
        {% endfor %}
    </ul>
{% endif %}

{% if info.extractedinfoaltvalue_set.all|length > 0 %}
    <p>Es gibt Werte, die ebenfalls in Betracht kommen, aber mit einem geringeren Score gewertet wurden:</p>
    <ul>
        {% for alt in sortedAltValues %}
            <li>{{ valueMap|get_item:alt.value }} (Score*: {{ alt.confidence }} , Quelle: "{{ alt.sourceSentence.sentence }}")</li>
        {% endfor %}
    </ul>
{% endif %}

<p class="footnote-font small-top-margin">*Score zwischen 0 und 1, wobei 1 für eine hohe Konfidenz in den extrahierten Fakt steht (analog steht 0 für sehr geringe bzw. gar keine Konfidenz)</p>