{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/application.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/documents.css' %}" />

    <title>NoDE</title>
</head>
<body>
    {% include 'header.html' %}

    <form action="/" method="post">
        {% csrf_token %}
        <div class="center-horizontal">
            <input type="text"
                   name="q"
                   placeholder="Suchebegriff eingeben"
                   class="underlined-input medium-font small-top-margin center-horizontal mainSearchInput" />
            <button id="mainSearchButton" type="submit" class="button">Suchen</button>
        </div>
    </form>

    <a href="/documents/collection-edit" id="button-create-collection" class="button">Dokumentsammlung erstellen</a>

    {% if query is not None %}
        {% if searchResults.rows|length > 0 %}
            <h2 class="text-center">Suchergebnisse für '{{ query }}'</h2>

            <div class="separator-short"></div>

            <div class="medium-bottom-margin">
                {% render_table searchResults %}
            </div>
        {% else %}
            <h2 class="text-center">Keine Ergebnisse gefunden.</h2>
        {% endif %}
    {% else %}
        {% render_table documentCollectionTable %}
    {% endif %}
</body>
</html>